body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #2c3e50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
}

.nav-item {
    cursor: pointer;
    font-size: 1.5em; /* Dodane dla lepszej widoczności ikon */
}

main {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

#background {
    background-color: #ecf0f1;
    height: 100%;
}

#character {
    background: url('character.gif') no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    animation: jump 1s infinite alternate;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

#folders {
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#card {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.5s ease-in-out;
    overflow-y: auto;
}

#card.open {
    left: 0;
}

#closeCard {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#addBoxButton {
    background-color: #3498db;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#boxesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #ecf0f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
/* Dodaj nowe style na odwracanie boksu */
.box {
    width: 100px;
    height: 100px;
    background-color: #ecf0f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: transform 0.5s;
}

.box.flipped {
    transform: rotateY(180deg);
}

.box-options-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    gap: 10px;
}

.box-options-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.box.flipped .box-options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}