:root {
    --main-color: #1e193f;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: rgb(225, 226, 243);
}

body {
    font-family: sans-serif;
}

.hero {
    background-color: var(--main-color);
    color: white;
    padding: 50px 30px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;

}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to left, rgb(0, 4, 255), rgb(50, 46, 66));
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, rgb(0, 4, 255), rgb(50, 46, 66));
}

.hero h1 {
    font-weight: normal;
    font-size: 5rem;
    margin: 0;
}

.hero h2 {
    font-weight: normal;
    font-size: 1.7rem;
    margin: 0;
}

.filter-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.filter-nav a {
    text-decoration: none;
    padding: 9px;
    color: var(--main-color);
    border: 1px solid #6258a7;
    border-radius: 8px;
    margin: 4px;
}
.filter-nav a:hover {
    background-color: #7e76ca;
}
.filter-nav .active {
    background-color: #1e193f;
    color: white;
}
.filter-nav .active:hover {
    background-color: #1e193f;
    cursor: default;
}
.animals {
    max-width: 700px;
    margin: 0 auto;
}

.animal-card {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 100%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.animal-card-photo {
    order: 1;
    grid-row: 1;
    overflow: hidden;
}

.animal-card-photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

.animal-card-photo:hover img {
    transform: rotate(20deg) scale(1.4);
}

.animal-card-text {
    padding: 20px 25px;
}

.animal-card-text h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8rem;
}
.animal-card-text small{
    color: rgb(176, 176, 176)
}
.animal-card-text p{
    margin: .8rem 0;
    padding: 0;
    line-height: 1.5;
}
.primary-btn {
    background: linear-gradient(#3c3488, #2d1b46);
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
@media screen and (min-width: 768px){
    .animal-card{
        grid-template-columns: 200px 1fr;
    }
    .hero h1{
        font-size: 6rem;
    }
}