* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(247, 247, 247);

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 120px;
    background-color: rgb(141, 135, 135, .6)
}

.menu button,
.note-panel .save,
.note-panel .cancel {
    padding: 12px 25px;
    background: none;
    border: 1px solid #999;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.menu button:hover,
.note-panel .save:hover,
.note-panel .cancel:hover {
    background-color: #333;
    color: #ddd;
}

.green-text {
    color: rgba(0, 255, 255, 0.836);
    transition: color 0.6s;
    cursor: pointer;
}

.green-text:hover {
    color: black;
}

.icon {
    margin-right: 10px;
}

.add {
    margin-right: 20px;
}

.note-area {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px;
}

.note {
    margin: 40px 20px;
    width: 240px;
    background-color: rgba(238, 255, 0, .8);
    /*kolor tła z przezroczystości */
    color: black;
    /* Kolor tekstu */
    /* border: solid 1px black;  */

}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, .2);
}

.note-header .delete-note {
    background: none;
    font-size: 22px;
    border: none;
    cursor: pointer;
}

.note-body {
    padding: 20px 15px;
    font-size: 15px;
}

.note-panel {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 0;
    width: 600px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 10px rgba(143, 143, 143, 0.808);
    border-radius: 12px;
}

.note-panel h2 {
    margin-bottom: 20px;
    text-transform: uppercase;

}

.note-panel label {
    margin-bottom: 10px;
}

.note-panel #text,
.note-panel #category {
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    max-width: 90%;
    max-height: 600%;
    font-size: 16px;
    border-radius: 5px;
}

#text {
    max-width: 100%;
    min-width: 90%;
}

.note-panel .error {
    margin-bottom: 20px;
    color: red;
    visibility: hidden;
}

.far {
    margin-right: 6px;
}

.fas {
    margin-right: 6px;
}


/* Styl motywu jasnego */
.light-theme {
    background-color: white;
    color: black;
}

/* Styl motywu ciemnego */
.dark-theme {
    background-color: rgb(35, 36, 46);
    color: white;
}

/* Styl ikony motywu */
.fa-solid {
    margin-left: 10px;
    font-size: 30px;
    color: rgb(36, 50, 63);
    /* Kolor dla motywu jasnego */
    cursor: pointer;
    /* box-shadow: 0 0 40px yellow; */
    transition: transform .3s, color .3s;
}

.fa-solid:hover {
    color: rgb(45, 57, 90);
    transform: scale(0.9);
}

.dark-theme .fa-solid {
    color: rgb(45, 57, 90);
    transition: transform .3s, color .3s;
}

.dark-theme .fa-solid:hover {
    color: #fff;
    /*kolor dla motywu ciemnego */
    transform: scale(0.9);
}

/* animatio */
.bounce-top {
    -webkit-animation: bounce-top 2.3s both;
    animation: bounce-top 2.3s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-9 19:33:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}