/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(315deg, #003283de 55%, #2d4247d5 88%);
    font-family: 'Montserrat', sans-serif;
;
}
.wrapper{
    width: 440px;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    opacity: 0.8;
} */