*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    transition: background-color 0.5s;
    text-align: center;
    font-family: Arial, sans-serif;
}
.pomodoro {
    margin: 20px auto;
    max-width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}
h1 {
    font-size: 24px;
}
.timer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    gap: 10px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.controls {
    margin-top: 20px;
}
label {
    font-size: 16px;
}
input[type="number"], input[type="color"], input[type="text"] {
    width: 90%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}
.report-button {
    background-color: green;
   font-size: 10px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    position: fixed;
    bottom: 869px;
    left: 1721px;
    border-radius: 50px;
}
p{
    font-size: 12px;
}

.report-button:hover {
    background-color: darkgreen;
}

/* .settings-panel {
    position: fixed;
    top: 0;
    left: -300px;
    width: 240px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: left 0.3s ease-in-out, background-color 0.5s;
} */
.settings-panel {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 240px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease-in-out, background-color 0.5s; /* Zmieniamy left na right */
}

#settings-icon {
    font-size: 28px;
    cursor: pointer;
    position: fixed;
    bottom: 869px;
    left: 1660px;
    width: 60px;
    height: 30px;
    color: #369fb9;

}

.fa-solid{
    transition: transform .4s, color .2s;
}
.fa-solid:hover{
    transform: scale(0.9);
    color: #3b2e2e;
}

/* motyw */
.slider-container {
    position: fixed;
    bottom: 870px;
    left: 1840px;
    transform: translateX(-50%);
}
.slider {
    width: 63px;
    height: 33px;
    border-radius: 15px;
    background-color: #a8a8a8;
    position: relative;
    cursor: pointer;
}

.slider-handle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#moon-icon {
    font-size: 24px;
    cursor: pointer;
}
#sun-icon {
    font-size: 24px;
    cursor: pointer;
}